<title>Galleon Exchange</title>
<meta name="description" content="Cryptocurrency Exchange">
<meta name="keywords" content="Galleon,Exchange,Cryptocurrency">
<!-- TODO fix the ENV
#<title><%= ENV.fetch('METADATA_TITLE') %></title>
#<meta name="description" content="<%= ENV.fetch('METADATA_DESCRIPTION') %>">
#<meta name="keywords" content="<%= ENV.fetch('METADATA_KEYWORDS') %>">
--->