<div class="row profile-head">
  <div class="col-md-4">
    <div class="profile-head-item estimated">
      <h5>ESTIMATED VALUE</h5>
      <div><strong>0</strong><small>BTC</small></div>
      <p>&asymp; 0.00 USD</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="profile-head-item available">
      <h5>AVAILABLE</h5>
      <div><strong>0</strong><small>BTC</small></div>
      <p>&asymp; 0.00 USD</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="profile-head-item inorders">
      <h5>IN ORDERS</h5>
      <div><strong>0</strong><small>BTC</small></div>
      <p>&asymp; 0.00 USD</p>
    </div>
  </div>
</div>
<!-- profile-head -->