
<% content_for :guide do %>
  <div class="block-table">
    <div class="block-table-cell">
      <div class="register-container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= (t 'password.reset_pwd') %></h3>
          </div>
          <div class="panel-body">
            <div class="email-activation">
              <p><%= (t 'password.sent_to') %><br><%=@email.gsub(/.{0,2}@.{0,2}/,'**@***') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

